*{
  text-align: center;
}

.states{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: linear-gradient(to right, #E8CBC0, #636FA4);

}
.grow{
  padding: 3%;
}
.listStates{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.input h2{
color: #ecf0f1;
}

.search{
  padding: 1%;
  font-size: 1em;
  border-radius: 1em;
}
.quote img{
  width: 100%;
}

.grow:hover{
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 1em;
}

.cards img{
  width: 300px;
  height: 300px;
  margin-bottom: 5%;
  border-radius: 1em;
}
.content button{
  padding: 5%;
  border-radius: 1em;
  cursor: pointer;
  background-color: #f1c40f;
}

.container{
  padding: 3%;
}

.placeInfo img{
  width: 600px;
  height: 600px;
}

.placeInfo{
  padding: 3%;
  background-color: #ecf0f1;
}
.placeContent{
  font-size: 1.3em;
}